* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #f6f6f6;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
